body {
  font-family: "Roboto", sans-serif;
  background-color: #004241;
}
.container {
  max-width: 1200px;
  background-color: whitesmoke;
  padding: 25px;
  margin: 0 auto;
  border-radius: 10px;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../images/japanese-sword.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0 100px 0;
  color: whitesmoke;
  text-align: center;
  border-radius: 10px;
}

header h1 {
  font-size: 65px;
  font-weight: normal;
  text-transform: uppercase;
}

h2 {
  margin-top: 25px;
  text-align: center;
}

p {
  line-height: 1.5;
  font-size: 17px;
}

.grid {
  margin-top: 25px;
  display: grid;
  grid-gap: 26px;
}
.grid-3-columns {
  grid-template-columns: 1fr 5fr 1fr;
}
.official {
  font-size: 25px;
}
.about-image,
.concealed-carry-image,
.self-defense-image {
  display: block;
  margin: 50px auto;
  max-width: 300px;
  border-radius: 10px;
  border: 2px solid black;
}
.about-content,
.gallery-content,
.techniques-content,
.ccw-content,
.self-defense-content {
  text-align: center;
  background-color: whitesmoke;
}
.header-nav a {
  color: whitesmoke;
}
.ccw-header {
  background-color: #2d3a43;
  color: whitesmoke;
  padding: 25px;
  border-radius: 10px;
  margin-top: 50px;
}

.ccw-content-p {
  background-color: #2d3a43;
  color: whitesmoke;
  padding: 50px;
  border-radius: 10px;
  margin-top: 50px;
}
.ccw-content-p h2 {
  font-size: 30px;
}
a {
  color: #004241;
  padding: 20px;
  text-decoration: none;
  text-align: center;
}
a:hover {
  color: #e38826;
}
.hebler-link,
.parker-link {
  text-decoration: none;
  font-weight: bold;
  padding: 0;
}

.carry-link {
  text-decoration: none;
  color: #e38826;
}
.carry-link:hover {
  color: whitesmoke;
}
.about-paragraph {
  line-height: 1.5;
  font-size: 17px;
  color: black;
  justify-content: start;
}
.img-responsive-1,
.img-responsive-2 {
  max-width: 100%;
  display: block;
  border: 1px solid black;
  border-radius: 10px;
}
.img-responsive-3 {
  margin: 0 auto;
  max-width: 100px;
}
.ccw-header img {
  display: block;
  margin: 0 auto;
  border-radius: 10px;
}
.secondary {
  text-align: center;

  background-color: #2d3a43;
  padding: 25px;
  color: whitesmoke;
  text-align: center;
  border: 2px solid #004241;
  border-radius: 10px;
}
@media (max-width: 400px) {
  .grid {
    grid-template-columns: 1fr;
    grid-gap: 13px;
  }
}
