body {
  font-family: "Roboto", sans-serif;
  background-color: #004241;
}
.container {
  max-width: 1200px;
  background-color: whitesmoke;
  padding: 25px;
  margin: 0 auto;
  border-radius: 10px;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../images/japanese-sword.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0 100px 0;
  color: white;
  text-align: center;
  border-radius: 10px;
}

header h1 {
  font-size: 65px;
  font-weight: normal;
}

h2 {
  margin-top: 0;
  text-align: center;
}

p {
  line-height: 1.5;
  font-size: 17px;
}

.grid {
  margin-top: 25px;
  display: grid;
  grid-gap: 26px;
}
.grid-3-columns {
  grid-template-columns: 1fr 5fr 1fr;
}
.official {
  font-size: 25px;
}
.about-image {
  display: block;
  margin: 50px auto;
  max-width: 300px;
  border-radius: 10px;
  border: 2px solid black;
}
.about-content {
  background-color: whitesmoke;
}

.gallery-content {
  text-align: center;
}
.techniques-content {
  text-align: center;
}
.header-nav a {
  color: whitesmoke;
}
a {
  color: #004241;
  padding: 20px;
  text-decoration: none;
}
a:hover {
  color: red;
}
.hebler-link,
.parker-link {
  text-decoration: none;
  font-weight: bold;
  padding: 0;
}
.about-paragraph {
  line-height: 1.5;
  font-size: 17px;
  color: black;
  justify-content: start;
}
.img-responsive-1,
.img-responsive-2 {
  max-width: 100%;
  display: block;
  border: 1px solid black;
  border-radius: 10px;
  transition: all 150ms ease-in;
}
.img-responsive-1:hover,
.img-responsive-2:hover {
  transform: scale(1.5);
}

.secondary {
  text-align: center;

  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(../images/bamboo-bg-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 25px;
  color: white;
  text-align: center;
  border-radius: 10px;
}
@media (max-width: 400px) {
  .grid {
    grid-template-columns: 1fr;
    grid-gap: 13px;
  }
}
