:root {
  --bg-color: #004241;
  --link-color: #e38826;
  --font-color: whitesmoke;
  --bg-image: url(../images/redbg2.jpg);
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--bg-color);
}
.container {
  max-width: 1200px;
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 25px;
  margin: 0 auto;
  border-radius: 10px;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../images/miscgroup.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0 100px 0;
  color: var(--font-color);
  text-align: center;
  border-radius: 10px;
}

header h1 {
  font-size: 65px;
  font-weight: bold;
  text-transform: uppercase;
}

h2 {
  margin-top: 25px;
  text-align: center;
  color: var(--font-color);
}
h4 {
  font-size: 30px;
}
p {
  line-height: 1.5;
  font-size: 17px;
  color: var(--font-color);
}

.grid {
  margin-top: 25px;
  display: grid;
  grid-gap: 26px;
}
.grid-3-columns {
  grid-template-columns: 0.5fr 5fr 0.5fr;
}
.grid-4-columns {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.videos {
  padding: 8px;
}
.official {
  font-size: 25px;
}
.about-image,
.concealed-carry-image {
  display: block;
  margin: 50px auto;
  max-width: 400px;
  border-radius: 10px;
  border: 2px solid black;
}
.ccw-images {
  margin: 0 auto;
}

.about-content,
.program-content,
.gallery-content,
.video-content,
.ccw-content {
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  color: var(--font-color);
}
.header-nav a {
  color: var(--font-color);
}

.ccw-header {
  background-color: #2d3a43;
  color: var(--font-color);
  padding: 25px;
  border-radius: 10px;
  margin-top: 50px;
}
.active a {
  color: var(--link-color);
}
.ccw-content-p {
  background-color: #2d3a43;
  color: var(--font-color);
  padding: 50px;
  border-radius: 10px;
}
.ccw-content-p h2 {
  font-size: 30px;
}
.nav a {
  color: whitesmoke;
}
a {
  color: #004241;
  padding: 20px;
  text-decoration: none;
  text-align: center;
}
a:hover {
  color: var(--link-color);
}
.hebler-link,
.parker-link {
  text-decoration: none;
  font-weight: bold;
  color: var(--link-color);
  padding: 0;
}

.carry-link {
  text-decoration: none;
  color: var(--link-color);
}
.carry-link:hover {
  color: var(--font-color);
}
.about-paragraph {
  line-height: 1.5;
  font-size: 17px;
  color: var(--font-color);
  justify-content: start;
}
.img-responsive-1,
.img-responsive-3 {
  max-width: 100%;
  display: block;
  border: 1px solid black;
  border-radius: 10px;
}
.img-responsive-2 {
  display: inline;
  max-width: 50px;
}
.img-responsive-3 {
  margin: 0 auto;
  max-width: 250px;
  transition: transform 0.5s;
}
.img-responsive-3:hover {
  transform: scale(1.5);
}
.img-responsive-4 {
  max-width: 275px;
  padding: 15px;
  border-radius: 10px;
}
.ccw-header img {
  display: block;
  margin: 0 auto;
  border-radius: 10px;
}
.secondary {
  text-align: center;
  margin-top: 25px;
  background-color: #2d3a43;
  padding: 25px;
  color: var(--font-color);
  text-align: center;
  border: 2px solid #004241;
  border-radius: 10px;
}
@media (max-width: 850px) {
  .grid {
    grid-template-columns: 1fr;
    grid-gap: 13px;
    margin-top: 10px;
  }

  header {
    padding: 15px;
  }
  header h1 {
    font-size: 35px;
  }
  main {
    padding: 0;
    margin-top: 0;
  }
  .about-image,
  .img-responsive-1,
  .img-responsive-2 {
    display: none;
  }
}
